<!-- Encabezado con Barra de Navegación de Bootstrap -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#">Conecta 4</a>

</nav>



<!-- Contenedor principal -->

<div id="contPrincipal" class="container">

  <!-- Título Principal -->

  <div class="row">

    <div class="col-4">

        <button type="button" id="botonTitulo" class="btn btn-outline-light boton" (click)="borrarPartida(resultado)" routerLink="">Volver al menu</button>

    </div>

    <div class="col-8">

        <h1 id="titulo">Creando nueva partida</h1>

    </div>

</div>



</div>

<div id="menu" class="row align-items-md-stretch">

  <div class="col-md-12">

    <div class="h-100 p-5 text-white bg-dark rounded-3">

     

      <div id="titulo_menu">

        <h2>Comparte este ID de la partida con tu rival:</h2>

      </div>

      <br>

      <div id="elementos-menu">

          <div *ngIf="resultado !== 0">

              <h3>ID partida: {{ resultado }}</h3>

            </div>

            <div *ngIf="resultado === null">

              <h3>Cargando resultado...</h3>

            </div>

      </div>

    </div>

  </div>
     
</div>