<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Conecta 4</a>
</nav>

  <div id="contPrincipal" class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 id="titulo">¡Bienvenido al conecta 4!</h1>
      </div>
    </div>
  </div>
  <div id="menu" class="row align-items-md-stretch">
    <div class="col-md-12">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <div id="titulo_menu">
          <h2>¿Qué quieres hacer?</h2>
        </div>
        <br>
        <div id="elementos-menu">
          <button class="btn btn-outline-light boton" type="button" routerLink="nueva">Empezar nueva partida</button>
          <button class="btn btn-outline-light boton" type="button" routerLink="unirse">Unirse a una partida</button>
          <button class="btn btn-outline-light boton" type="button" routerLink="historial">Historial de partidas</button>
          <button class="btn btn-outline-light boton" type="button" routerLink="partidas">Reglas del juego</button>
        </div>
      </div>
    </div>
  </div>