<div id="contPrincipal" class="container">
    <!-- Título Principal -->
    <div class="row" id="filaTitulo">
      <div class="col-4">
          <button type="button" id="botonTitulo" class="btn btn-outline-light boton" routerLink="">Volver al menu</button>
      </div>
      <div class="col-8">
          <h1 id="titulo">Reglas del Juego Conecta 4</h1>
      </div>
    </div>
    <div class="row">
    <main>
        <section>
            <h2>Objetivo del juego</h2>
            <p>El objetivo del juego Conecta 4 es ser el primero en conectar cuatro fichas de tu color en fila, ya sea de manera horizontal, vertical o diagonal.</p>
        </section>
        <section>
            <h2>Tablero</h2>
            <p>El tablero consta de 7 columnas y 6 filas. Los jugadores colocan fichas en las columnas, que caen hacia abajo y ocupan el espacio más bajo disponible en la columna.</p>
        </section>
        <section>
            <h2>Turnos</h2>
            <p>Los jugadores se turnan para colocar una ficha en el tablero. El jugador 1 generalmente usa fichas rojas, y el jugador 2 usa fichas amarillas.</p>
        </section>
        <section>
            <h2>Victoria</h2>
            <p>El juego termina cuando un jugador conecta cuatro fichas de su color en fila. Puede ser horizontal, vertical o diagonalmente. Si el tablero se llena sin un ganador, el juego termina en empate.</p>
        </section>
        <section>
            <h2>Reglas adicionales</h2>
            <ul>
                <li>Si una columna se llena, no se podrán añadir más fichas.</li>
                <li>El juego se puede jugar en varias rondas, alternando los turnos para comenzar.</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>¡Disfruta del juego Conecta 4!</p>
    </footer>
    </div>