/* Estilos existentes */
body {
  background-color: #eee;
}

table th,
table td {
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #e4e3e3;
}

table tr:nth-of-type(odd) {
  background-color: #9b9b9b;
}

th {
  background: #333;
  color: #fff;
}

.pagination {
  margin: 0;
}

.pagination li:hover {
  cursor: pointer;
}

.header_wrap {
  padding: 30px 0;
}

.num_rows {
  width: 20%;
  float: left;
}

.tb_search {
  width: 20%;
  float: right;
}

.pagination-container {
  width: 70%;
  float: left;
}

.rows_count {
  width: 20%;
  float: right;
  text-align: right;
  color: #999;
}

#contPrincipal {
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
}

#titulo {
  margin-left: 0px;
}

#filaTitulo {
  margin-bottom: 60px;
}

#botonTitulo {
  background-color: #343a40;
  font-size: 25px;
  /* Otros estilos existentes */
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

#botonTitulo:hover {
  background-color: white; /* Color de fondo que deseas al pasar el cursor */
  color: black; /* Cambiar el color del texto para que sea legible en el nuevo fondo */
}

/* Nuevos estilos mejorados */

/* Estilo para enlaces */
a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

/* Estilo para secciones */
section {
  margin-bottom: 20px;
}

/* Estilo para listas */
ul {
  list-style: disc;
  margin-left: 20px;
}

/* Estilo para el pie de página */
footer {
  text-align: center;
  font-size: large;
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 7%;
}

/* Estilo para párrafos dentro de secciones */
section p {
  font-size: 18px;
}

/* Estilo para encabezados h2 */
h2 {
  font-size: 24px;
  color: rgba(0, 3, 7, 0.801);
  margin-top: 20px;
}

/* Estilo para el encabezado principal h1 */
h1 {
  font-size: 28px;
  color: #333;
}
